@model OnlineStore.Models.LocalizedProduct

<div class="goods-post">
    <img class="post-img" src="@Model.ImageLink" alt=""/>
    <h4 class="post-title">@Model.Name</h4>
    <p class="post-description">@Model.DescriptionShort</p>
    <p class="post-price">@Model.Price</p>
</div>