<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Online Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="header-nav">
        <a class="header-link" asp-area="" asp-controller="Home" asp-action="Index">OnlineStore</a>
        <a class="header-link" asp-controller="Home" asp-action="Create">Create</a>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div>
        &copy; 2021 - Online Store
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>