<div class="sidebar">
    <ul>
        <li>
            <p>Punkt 1</p>
        </li>
        <li>
            <p>Punkt 2</p>
        </li>
        <li>
            <p>Punkt 3</p>
        </li>
    </ul>
</div>