@model IEnumerable<LocalizedCategory>

<div class="sidebar">
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a asp-action="Search" asp-controller="Home" asp-route-categoryId="@category.Id">@category.Name</a>
            </li>
        }
    </ul>
</div>