/* TODO: Сделать посты нормального размера (щас они получаются разного размера)
   TODO: Заполнить сайдбар (можно добавить иконки возле каждой строчки)
   TODO: Задизайнить посты
   TODO: Задизайнить сайт (отступы, шрифты, цвета)*/

:root {
    --clr-primary: #44773e;
    --clr-additional: #406343;
    --clr-elements: #ECE7B4;
    --clr-small-elements: #F3EFCC;
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

main {
    display: inline-block;
    width: 100%;
}

.menu-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 7px;
    background: none;
    margin: 20px;
}

    .menu-button:hover {
        cursor: pointer;
        background-color: gray;
    }

#icon-menu {
    width: 30px;
    height: 30px;
    padding-top: 2px;
    margin: 0;
    fill: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: var(--clr-primary);
    height: 80px;
    margin: 0;
    padding-left: 180px;
    padding-right: 30px;
}

.title {
    font-family: var(--ff-accent);
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.chert {
    color: rgb(66, 0, 0);
    margin-left: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    background-color: #246d2496;
    justify-content: center;
    flex-basis: 1000px;
    min-height: 93em;
}

.main-page {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    background-color: var(--clr-elements);
    min-height: 91em;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 20px;
}

    .main-page h3 {
        text-align: center;
        font-family: var(--ff-accent);
        color: black;
        font-size: 36px;
        margin-left: 20px;
        margin-top: 15px;
    }

/*    HEADER       */

.logo {
    width: 3em;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 8em;
    background-color: var(--clr-primary);
}

.header-link:active,
.header-link:link,
.header-link:visited,
.header-link:hover {
    display: inline-block;
    font-family: var(--ff-primary);
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.header-menu {
    margin-right: 8em;
}

.header-buttons {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 4em;
}

.header-search {
    margin-top: 0.5em;
    padding: 0;
}

.search-ico {
    height: 1em;
    border-radius: 0.5em;
}

.search-bar {
    border: none;
    height: 2em;
    width: 17em;
    border-radius: 1em;
    padding: 0.5em;
}

    .search-bar:enabled {
        outline: 0;
    }

.search-button {
    height: 2em;
    width: 2em;
    border-radius: 0.7em;
    border: none;
}

    .search-button:enabled {
        outline: 0;
    }

/*    SIDEBAR      */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    background-color: var(--clr-small-elements);
    min-height: 800px;
    max-height: 1200px;
    min-width: 250px;
    max-width: 500px;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 20px;
}

    .sidebar ul li {
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-left: 40px;
    }

        .sidebar ul li:first-child {
            margin-top: 30px;
        }

/*   GOODS     */

.goods-row {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    margin-top: 0.1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    gap: 7%;
    align-items: center;
    justify-content: center;
}

.goods-post {
    display: flex;
    flex-direction: column;
    background-color: #FCFBEC;
    height: 450px;
    min-width: 15em;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.post-img {
    width: 200px;
    margin-bottom: 10%;
}

.post-title {
    font-size: 36px;
    font-family: var(--ff-primary);
    align-items: center;
    justify-content: center;
}

.post-description {
    font-size: 16px;
    font-family: var(--ff-primary);
    opacity: 0.5;
}

.post-price {
    font-family: var(--ff-accent);
    font-size: 36px;
}

footer {
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 40em;
    height: 2.1em;
    padding-left: 5em;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}

/*  Login view  */

.login-view {
    height: 41.05em;
    background-color: var(--clr-small-elements);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-view-menu {
    width: 20em;
    padding: 2.5em;
    margin: 2em;
    display: inline-block;
    background-color: var(--clr-primary);
    border: 1px solid transparent;
    border-radius: 2em;
}

.login-header {
    font-family: var(--ff-primary);
    width: 10em;
    padding-left: 1.2em;
    margin-bottom: 1em;
}

.login-input {
    border-radius: 1em;
    border: none;
    padding: 0.5em;
}

    .login-input:enabled {
        outline: 0;
    }

.login-button {
    border-radius: 0.7em;
    border: none;
    padding: 0.2em;
}