@model OnlineStore.Models.ViewModels.LoginViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="login-view">
	<div class="login-view-menu">    
		<h2 class="login-header">@Localizer["LoginTitle"]</h2>
		<div asp-validation-summary="ModelOnly"></div>
		<div>
			<label asp-for="Username"></label><br>
			<input asp-for="Username" class="login-input">
			<span asp-validation-for="Username"></span>
		</div>
		<div>
			<label asp-for="Password"></label><br>
			<input asp-for="Password" class="login-input">
			<span asp-validation-for="Password"></span>
		</div>
		<div>
			<input asp-for="RememberMe">
			<label asp-for="RememberMe"></label>
		</div>
		<div>
			<input type="submit" value="@Localizer["LoginButton"]" class="login-button">
		</div>
	</div>
</form>

@section Scripts
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
