@model OnlineStore.Models.ViewModels.RegisterViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["RegisterTitle"];
    Layout = "_Layout";
}

<form method="post" asp-controller="Account" asp-action="Register" class="register-view">
    <div class="register-view-menu">
        <h2 class="register-header">@Localizer["RegisterTitle"]</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br>
            <input asp-for="Username" class="register-input" autocomplete="off">
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br>
            <input asp-for="Email" class="register-input" autocomplete="off">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br>
            <input asp-for="Password" class="register-input" autocomplete="off">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label><br>
            <input asp-for="ConfirmPassword" class="register-input" autocomplete="off">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="@Localizer["RegisterButton"]" class="register-button">
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
