@model OnlineStore.Models.ViewModels.MainPageViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
}

<div class="main-container">
    <aside>
        @await Html.PartialAsync("_Sidebar", ViewBag.Categories, null)
    </aside>
    
    <div class="main-page">

        @* Related products *@
        <h3>@Localizer["RelatedGoods"]</h3>
        
        <div class="goods-row">
            @if (Model.RelatedProducts.Count > 0)
            {
                foreach (var product in Model.RelatedProducts)
                {
                    @await Html.PartialAsync("_GoodsPost", product)
                }
            }
            else
            {
                <p>@Localizer["NoGoods"]</p>
            }
        </div>

        @* New products *@
        
        <h3>@Localizer["NewGoods"]</h3>
        
        @if (Model.NewProducts.Count > 0)
        {
            <div class="goods-row">
                @foreach (var product in Model.RelatedProducts)
                {
                    @await Html.PartialAsync("_GoodsPost", product)
                }
            </div>
        }
        else
        {
            <p>@Localizer["NoGoods"]</p>
        }
    </div>
</div>