@model OnlineStore.Models.ViewModels.MainPageViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
}

<div class="main-container">
    <aside>
        @await Html.PartialAsync("_Sidebar")
    </aside>
    
    <div class="main-page">

        @* Related products *@
        <h3>@Localizer["RelatedGoods"]</h3>
        
        <div class="goods-row">
            @if (Model.RelatedProducts.Count > 0)
            {
                @await Html.PartialAsync("_GoodsPost", Model.RelatedProducts[0])
                @await Html.PartialAsync("_GoodsPost", Model.RelatedProducts[1])
                @await Html.PartialAsync("_GoodsPost", Model.RelatedProducts[2])
            }
            else
            {
                <p>@Localizer["NoGoods"]</p>
            }
        </div>

        @* New products *@
        
        <h3>@Localizer["NewGoods"]</h3>
        
        @if (Model.NewProducts.Count > 0)
        {
            <div class="goods-row">
                @await Html.PartialAsync("_GoodsPost", Model.NewProducts[0])
                @await Html.PartialAsync("_GoodsPost", Model.NewProducts[1])
                @await Html.PartialAsync("_GoodsPost", Model.NewProducts[2])
            </div>
        }
        else
        {
            <p>@Localizer["NoGoods"]</p>
        }
    </div>
</div>